[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
  "cd ../shared && npm install",
  "cd ../websocket-server && npm install"
]

[phases.build]
cmds = ["npm run build"]

[phases.start]
cmd = "npm start"

[variables]
NODE_ENV = "production"
